.body{
    background-image: linear-gradient(#000000,#ffcbdb);
}


listadoclaudio{
    display: flex;
}

.t-d-c-1{
    font-style: italic;
    color: blanchedalmond;
    font-size: 300%;
}

.t-d-c-2{
    color: blueviolet;
    font-style: oblique;
    font-size: 250%;
}

.t-d-c-3{
    color:chartreuse;
    font-size: 250%;
}

