*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(108deg, rgba(0,0,0,1) 0%, rgba(255,203,219,1) 100%);
}

.cabecalho{
    display: flex;
    background-color: #ffcbdb;
    justify-content: space-around;

}

.logobp{
    width: 10%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0 14px;
    font-size:  24px;
    color: white;
}